<section>
    <!-- <div class="card aboutus-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h1 class="aboutus-title">About Us</h1>
                            <h2 class="aboutus-text">Decabits is a fast growing and new age Software and Web Development Agency with a Multi-Dynamic Character.</h2>
                            <p class="aboutus-text">Our work force is backed by technical expertise and creative articulation giving businesses a platform to compete globally and earn rich rewards.</p>
                            <button class="btn btn-warning">Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                             <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt=""> 
                    </div>
                </div>
            </div>
        </div> -->

    <div class="container-fluid" style="margin:0 10%">
        <div class="row">
            <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12"> -->
                <div class="box">
                        <p class="about-heading secondary-text text-responsive">Decabits is a fast growing and new age software and web development agency with a multi-dynamic character.</p>
                        <p class="about-heading secondary-text text-responsive" style="padding-top: 0% !important;">Our work force is backed by technical expertise and creative articulation giving businesses a platform to compete globally and earn rich rewards.</p>
                    </div>  
                <!-- <p class="about-heading text-responsive">Decabits a company where you searching stops</p>
                <p class="about-heading secondary-text text-responsive">Decabits is a fast growing and new age Software and Web
                    Development Agency with a Multi-Dynamic Character.Our work force is backed by technical expertise
                    and creative articulation giving businesses a platform to compete globally and earn rich rewards.
                </p>
            </div> -->
            <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <img src="/img/aboutus.png" class="img-responsive vertical-center horizontal-center">
            </div> -->
        </div>

    </div>
</section>