<section id="logo">
  <div class="container">
    <div class="row">
      <!-- <div class="heading-2 col-lg-12 text-center">
        
      </div> -->
      <h2 class="bd-sponsor-heading">
        <span class="gradient-text">Trusted</span> By over 100, Companies
        including
      </h2>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/Vector.png" alt="bloomberg" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/stanford-university-vector-logo 1.png"
            alt="stanford-university"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/University_of_Cambridge-Logo.wine 1.png"
            alt="University_of_Cambridge"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/microsoft.png" alt="microsoft" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/eth-zurich-logo-vector 1.png"
            alt="eth-zurich"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/stitch-fix-seeklogo.com1.png"
            alt="stitch-fix"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/google-2015.png" alt="google" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/opengov-logo-vector 1.png"
            alt="opengov"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/Vector (1).png" alt="allegro" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/amazon (1).png" alt="amazon" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img src="/img/bd-campaigns/sv 1.png" alt="circle-up" />
        </div>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6 p-3">
        <div class="bd-sponsor-logo">
          <img
            src="/img/bd-campaigns/Badge_of_the_Israel_Defense_Forces.png"
            alt="Badge_of_the_Israel_Defense_Forces"
          />
        </div>
      </div>
    </div>
  </div>
</section>
