<section id="who-are-we">
  <div class="container">
    <div class="row">
      <h2 class="bd-waw-heading text-center">Who We Are?</h2>
    </div>
    <div class="container waw-row">
      <div class="col-md-6">
        <!-- <h2 class="bd-waw-sub-heading">
          We're Here To Give The Best
          <span class="gradient-text">Developer</span> you need
        </h2> -->
        <h2 class="bd-waw-sub-heading">
          Highly Scalable to handle over
          <span class="gradient-text">10M users</span> per month
        </h2>
      </div>
      <div class="col-md-6">
        <p class="waw-description">
          We Prepare for your success,by providing truly prominent IT
          solutions.<br /><br />

          Choosing the right software development company in order to have your
          dreams achieved for your product can be a difficult task. Here we make
          sure that you have made the best decision for your project to start
          with and shape the services as you imagine. Because we make it
          simple.<br />
          <b
            >We can deliver a precise timeline for your software development by
            using reusable code modules and ensuring 99% uptime.</b
          >
        </p>
        <button
          class="waw-button"
          data-toggle="modal"
          data-target="#contactModal"
        >
          <span>Contact Us</span>
        </button>
      </div>
    </div>

    <div class="row waw-row">
      <div class="col-lg-6 col-md-12 p-3">
        <div class="waw-box">
          <div class="box-heading pt-3">
            <h3>Putting The <span class="gradient-text">Client</span> First</h3>
          </div>
          <div class="box-para">
            <p>
              At the heart of our business philosophy lies our clients. As a
              premier developer of web and mobile applications, we prioritize
              our clients' needs above all else. We start by understanding your
              vision and goals, and then approach the project from the end
              user's perspective, identifying pain points and creating solutions
              that address the key challenges facing your business."
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-3">
        <div class="waw-box">
          <div class="box-heading pt-3">
            <h3>Prompt Delivery Guranteed</h3>
          </div>
          <div class="box-para">
            <p>
              At the heart of our business philosophy lies our clients. As a
              premier developer of web and mobile applications, we prioritize
              our clients' needs above all else. We start by understanding your
              vision and goals, and then approach the project from the end
              user's perspective, identifying pain points and creating solutions
              that address the key challenges facing your business."
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-3">
        <div class="waw-box">
          <div class="box-heading pt-3">
            <h3>
              Complete Accountability &
              <span class="gradient-text">Feedback-Driven</span>
            </h3>
          </div>
          <div class="box-para">
            <p>
              We don't just blindly follow specifications and requirements. From
              the outset, we actively participate in shaping the project. We
              solicit feedback from our clients, their customers, and other
              stakeholders to ensure that the product is on track. we ensure
              that we're always moving in the right direction, maximizing the
              value of your investment."
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-3">
        <div class="waw-box">
          <div class="box-heading pt-3">
            <h3>
              <span class="gradient-text">Outcome-Oriented</span> Approach
            </h3>
          </div>
          <div class="box-para">
            <p>
              We develop digital solutions that are flexible and responsive to
              real-world challenges, with a focus on delivering futuristic
              solutions. We remain steadfast in the face of any obstacles that
              may arise during the development process, ensuring that everything
              is under control
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
