<section class="bd-main">
  <div class="container bd-main">
    <div class="col-lg-6 col-md-12">
        <div class="main-heading">
          <h1>
            We're here to give the best
            <span class="gradient-text">Development Experience</span> you need
          </h1>
        </div>
        <br />
        <p class="bd-text">{{ page.main_description }} </p>
        <br />
        <p class="bd-text">7 day Free Development on us ! Try it</p>

        <div class="input-group mb-3">
          <input
            type="email"
            class="email form-control"
            placeholder="Enter your email ID"
            id="connect-email"
          />
          <span class="input-group-addon button-1" id="connect-button"
            >Connect With Us</span
          >
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <img
        class="bd-main-img img-responsive center-block"
          src="/img/bd-campaigns/Design team-pana.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
