<div class="bd-main">
  <div class="container bd-main">
    <div class="col-lg-6 col-md-12">
        <div class="main-heading">
          <h1>
            Revolutionize your <span class="gradient-text">Digital Presence</span> with us
          </h1>
        </div>
        <br />
        <p class="bd-text">Build Your Next Generation  Web or Mobile Solutions using AI-Based Smart Modules</p>
          <ul class="bd-main-info">
            <li>First <b>7-day</b> development is free and on us</li>
            <li><b>99.9%</b> uptime guaranteed</li>
            <li><b>Re-usable code</b> modules reducing cost & time</li>
            <li><b>Conversion Rate Optimisation</b> Increase conversations by up-to <b>25%</b></li>
            <li><b>Penetration and Security Testing</b> to increase reliability</li>
          </ul>
        </p>

      </div>
      <div class="col-lg-6 col-md-12">
        <img
        class="bd-main-img img-responsive center-block"
          src="/img/bd-campaigns/Design team-pana.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>


<section id="emerging-tech">
  <div class="container">
    <div class="row">
      <!-- <div class="heading-2 col-lg-12 text-center">
        
      </div> -->
      <h2 class="bd-emerging-tech-heading">
        <span class="gradient-text">Expertise in Emerging Technologies</span> Hire Us for Your Next Project
      </h2>
    </div>
    <div class="bd-emerging-tech-btns">
      <a
          class="bd-link-button"
          target="_blank"
          href="/hire/ror"
        >
          <span>Hire Us For Ruby on Rails</span>
    </a>
        <a
          class="bd-link-button"
          target="_blank"
          href="/hire/react"
        >
          <span>Hire us for React</span>
  </a>
    </div>
  </div>
</section>
