<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Career</h1>
        <p>We are always eager to hear from our you, be it related any project you want to do or web technologies we work in. Remember we are just a skype call or a cup of coffee away</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="text-align:center;">
         <img src="https://i.ibb.co/0qZ1BZq/Ruby-Developer.png" class="career-image2">
        <h2 class="service-content">RUBY ON RAIL DEVELOPER</h2>
        <p class="service-content">Technologies- Ruby, Python, NodeJs, GoLang etc.</p>
        <button class="btn btn-primary btn-lg main-button">Apply now</button>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <img src="https://i.ibb.co/mBhN6Zc/fullstackdeveloper.png" class="career-image">
        <h2 class="service-content">Full Stack Developer</h2>
        <p class="service-content">Technologies- Ruby, Python, NodeJs, GoLang etc.</p>
        <button class="btn btn-primary btn-lg main-button">Apply now</button>
      </div>
    </div>
  </div>
</div>
<!-- Contact Us Page   -->
<div class="outer-wrapper">
 <div class="container-fluid wrapper">
    <div class="row">
      <div class="col-md-6">
        <h1 style="color:white;">Drop us a line</h1>
      </div>
      <div class="col-md-6"></div>
   </div>
   <div class="row">
     <div class="col-md-6">
        <form>      
          <input name="name" type="text" class="feedback-input" placeholder="Name" />   
          <input name="email" type="text" class="feedback-input" placeholder="Email" />
          <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
          <button type="submit" class="btn btn-primary"><h2 class="text-center" style="color:white;"><i class="fas fa-paper-plane"></i></h2></button>
        </form>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <img src="https://i.ibb.co/9qFG4WG/Artboard-2x.png" class="contact-image">   
      </div>
    </div>
  </div>