<section id="career">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Career</h1>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center" style="margin-bottom: 2%;">
        <img src="img/career/RubyDeveloper.png" class="career-image2">
        <h3 class="service-content">Ruby On Rail developer</h3>
        <p class="service-content">Technologies- Ruby, Python, NodeJs, GoLang etc.</p>
        <button class="btn btn-primary main-button">Apply now</button>
      </div>
      <div class="col-md-6 text-center" style="margin-bottom: 2%;">
        <img src="img/career/StackDeveloper.png" class="career-image">
        <h3 class="service-content">Full stack developer</h3>
        <p class="service-content">Technologies- Ruby, Python, NodeJs, GoLang etc.</p>
        <button class="btn btn-primary main-button">Apply now</button>
      </div>
    </div>
  </div>
</section>

