<section id="career-card"> 
    <div class="container vertical-center">
        <div class="row career-card">
            <div class="col-md-3 card-img img-responsive">
              <div class="career-card-left">
                <img class="img-responsive" src="img/career/chair.png" alt="">
              </div>
            </div>
            <div class="col-md-7">
              <div class="career-card-right">
                <h1>We are Hiring</h1>
                <h4>full Stack Developer - Node.js/Javascript</h4>
                <button class="career-btn" id="btn-career">Apply</button>
              </div>
            </div>
        </div>
      </div>
</section>