<section id="career-card">
  <h2 class="section-heading text-center" style="padding: 0 0 50px 0">We are hiring</h2>
  <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class=" career-card">
            <div class="card">
              <img class="img-responsive" src="img/career/chair.png" alt="">
              <h4 class="card-title">full Stack Developer</h4>
              <p class="card-text">Technologies- Ruby, Python, NodeJs, GoLang etc.</p>
              <button class="career-btn" id="btn-career1">Apply</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class=" career-card">
              <div class="card">
                <img class="img-responsive" src="img/career/ruby-developer.png" alt="">
                <h4 class="card-title">Ruby on Rail Developer</h4>
                <p class="card-text">Looking for a Ruby Ninja.</p>
                <button class="career-btn" id="btn-career2">Apply</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class=" career-card">
                <div class="card">
                  <img class="img-responsive" src="img/career/project-manager.png" alt="">
                  <h4 class="card-title">Project manager</h4>
                  <p class="card-text">Experienced with agile Development and SCRUM.</p>
                  <button class="career-btn" id="btn-career3">Apply</button>
                </div>
              </div>
            </div>
      </div>
    </div>
    
</section>