<section id="career-card" class="vertical-center py-5 mb-5 " style="margin-bottom: 10rem;" >
  <h2 class="section-heading text-center" style="padding: 0 0 50px 0">We are hiring</h2>
   <div class="container">
    <div class="row">
        <!-- <div class="col-md-4 col-sm-12">
          <div class=" career-card">
            <div class="card">
              <img class="img-responsive" src="img/career/chair.png" alt="">
              <h4 class="card-title">Quality Assurance Engineer</h4>
              <p class="card-text">Function: Software Engineering → QA</p>
              <button class="career-btn" id="btn-career1">Apply</button>
            </div>
          </div>
        </div> -->
        <div class="col-md-4 col-sm-12 mt-1">
           <div class=" career-card">
              <div class="card">
                <img class="img-responsive" src="img/career/ruby-developer.png" alt="">
                <h4 class="card-title">Ruby on Rails Developer</h4>
                <p class="card-text">Looking for a Ruby Ninja!</p>
                <button class="career-btn" id="btn-career2">Apply</button>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-1">
          <div class=" career-card">
            <div class="card">
              <img class="img-responsive" src="img/career/full-stack-developer.jpg" alt="">
              <h4 class="card-title">FULL STACK DEVELOPERS</h4>
              <p class="card-text">Looking for Full Stack developer!</p>
              <button class="career-btn" id="btn-career4">Apply</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-1">
          <div class=" career-card">
            <div class="card">
              <img class="img-responsive" src="img/career/react-dev.png" alt="">
              <h4 class="card-title">ReactJS DEVELOPER</h4>
              <p class="card-text">Looking for ReactJS developer!</p>
              <button class="career-btn" id="btn-career5">Apply</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class=" career-card">
            <div class="card">
              <img class="img-responsive" src="img/career/ui-ux-dev.jpg" alt="">
              <h4 class="card-title">UI/UX DEVELOPER</h4>
              <p class="card-text">Looking for UI/UX developer!</p>
              <button class="career-btn" id="btn-career6">Apply</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-12 mt-1">
           <div class=" career-card">
              <div class="card">
                <img class="img-responsive" src="img/career/business-development-manager.jpg" alt="">
                <h4 class="card-title">BUSINESS DEVELOPMENT MANAGER</h4>
                <p class="card-text">Explore Business leads and opportunities</p>
                <button class="career-btn" id="btn-career3">Apply</button>
              </div>
            </div>
        </div> -->

      </div>
      <!-- <div class="row">
        <div class="col-md-4 col-sm-12"></div>
          <div class="col-md-4 col-sm-12">
            <div class=" career-card">
              <div class="card">
                <img class="img-responsive" src="img/career/full-stack-developer.jpg" alt="">
                <h4 class="card-title">UI/UX DEVELOPER</h4>
                <p class="card-text">Looking for UI/UX developer!</p>
                <button class="career-btn" id="btn-career4">Apply</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"></div>
        </div>
    </div> -->
    
</section>