<!-- Contact Us Page -->
<div class="outer-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 class="white-text">Drop us a line</h1>
            </div>
            <div class="col-md-6"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <input name="name" type="text" class="feedback-input" placeholder="Name" />
                    <input name="email" type="text" class="feedback-input" placeholder="Email" />
                    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
                    <button type="submit" class="btn btn-primary"><h2 class="text-center"><i class="fas fa-paper-plane"></i></h2></button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="https://i.ibb.co/9qFG4WG/Artboard-2x.png" class="contact-image img-responsive">
            </div>
        </div>
    </div>
</div>