<!-- Expertise Section -->
<section id="expertise">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Expertise</h2>
                <h3 class="section-subheading text-muted">These are the technologies we are awesome with</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><a href="https://rubyonrails.org/"><img src="/img/logos/rails_logo.gif"></img></a></div>
                <h4 class="service-heading">Ruby on Rails</h4>
                <p class="text-muted">We have a team well versed in Ruby and have worked on Rails for more than 5 years. Our Team also have many contribution in rails in form of gems & core commits.</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://angularjs.org/"><img src="/img/logos/angularjs.png"></img></a></div>
                <h4 class="service-heading">Angular Js</h4>
                <p class="text-muted">Yes, its hot and one of the best front end frameworks writter in javascript. Most of our applications are powered by Angualar JS</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://reactjs.org/"><img src="/img/logos/react-logo.png"></img></a></div>
                <h4 class="service-heading">React Js</h4>
                <p class="text-muted">React is the latest frontend technology which seems very promising in terms of utilizing web components and having a uni directional for web apps.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><a href="https://www.mongodb.com/"><img src="/img/logos/mongo.png"></img></a></div>
                <h4 class="service-heading">Mongo Db</h4>
                <p class="text-muted">MongoDB is one of the most popular and reliable NoSQL database. Our team has hands on experience with it.</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://www.postgresql.org/"><img src="/img/logos/postgres.png"></img></a></div>
                <h4 class="service-heading">Postgres</h4>
                <p class="text-muted">Postgres is one the most scalable relation database out there. We specialize in postgres and can help you scale your data</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://www.elastic.co/"><img src="/img/logos/elastic.png"></img></a></div>
                <h4 class="service-heading">ElasticSearch</h4>
                <p class="text-muted">If you are a e-commerece or any other website which is dealing with a lot of data. Elasticsearch is a must to keep your search fast.</p>
            </div>
        </div>
         <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><a href="https://graphql.org/"><img src="/img/logos/GraphQL_Logo.png"></img></a></div>
                <h4 class="service-heading">GraphQL</h4>
                <p class="text-muted">GraphQL is an open-source data query and manipulation language for APIs. Our team has hands on experience with it.</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://serverless.com/"><img src="/img/logos/serverless.png"></img></a></div>
                <h4 class="service-heading">Serverless</h4>
                <p class="text-muted">Serverless Framework is a free and open-source web framework written using Node.js.</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://aws.amazon.com/lambda/"><img src="/img/logos/AWS-Lambda.png"></img></a>  </div>
                <h4 class="service-heading">Lambda</h4>
                <p class="text-muted">AWS Lambda is an event-driven, serverless computing platform provided by Amazon as a part of the Amazon Web Services.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><a href="https://facebook.github.io/react-native/"><img src="/img/logos/react-native.png"></img> </a></div>
                <h4 class="service-heading">React Native</h4>
                <p class="text-muted">React Native is a JavaScript framework for writing real, natively rendering mobile applications for iOS and Android. </p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><a href="https://developers.google.com/web/progressive-web-apps/"><img src="/img/logos/pwa.png"></img></a></div>
                <h4 class="service-heading">Progressive Web App</h4>
                <p class="text-muted">Progressive web applications are a type of mobile app delivered through the web, built using common web technologies.</p>
            </div>
           
        </div>
    </div>
</section>