<!-- Expertise Section -->
<section id="expertise">
    <div class="container">
        <div class="row" style="padding-top: 100px !important;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Expertise</h2>
                <h3 class="section-subheading text-muted">We are experts with these technologies!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><img src="/img/logos/rails_logo.gif"></img></div>
                <h4 class="service-heading">Ruby on Rails</h4>
                <p class="text-muted">Our team has worked on Ruby on Rails for 5 years, and has contributed to the Rails community in the form of gems and core commits.
                </p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><img style="height:115px" src="/img/logos/react-native-logo.png"></img></div>
                <h4 class="service-heading">React Native</h4>
                <p class="text-muted">React Native is a JavaScript framework for building native mobile apps. Our developers have a lot of experience developing apps with React Native.
                </p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><img src="/img/logos/react-logo.png"></img></div>
                <h4 class="service-heading">React Js</h4>
                <p class="text-muted">A latest frontend technology, React Js makes up for an effortlessly interactive UI. It combines the speed of Javascript and uses a new way of rendering web pages, which makes them highly dynamic.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div style="height:125px"><img src="/img/logos/mongo.png"></img></div>
                <h4 class="service-heading">Mongo DB</h4>
                <p class="text-muted">Mongo DB is a cross-platform database program. It is a very popular and reliable NoSQL database. We use Mongo DB extensively.
                </p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><img src="/img/logos/postgres.png"></img></div>
                <h4 class="service-heading">PostgreS</h4>
                <p class="text-muted">PostgreS is one of the most scalable relational database systems available. It is powerful, reliable, robust and SQL compliant. Our developers have hands-on experience with PostgreS.</p>
            </div>
            <div class="col-md-4">
                <div style="height:125px"><img src="/img/logos/elastic.png"></img></div>
                <h4 class="service-heading">Elasticsearch</h4>
                <p class="text-muted">If you have an e-commerce website or one which deals with a lot of data, ElasticSearch is a must to keep your searches fast. Speed up with our team of skilled developers. 
                </p>
            </div>
        </div>
    </div>
</section>