
<div class="footer">
    <div class="container-fluid" style="margin-top: 0% !important;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-xs-12 links">
                <h6 class="mt-lg-0 mt-sm-5">Connect with us on social media</h4>
                <div class="m-0 p-0">
                    <a href="https://www.instagram.com/decabits/" class="social"><i class="fa fa-instagram mr-3" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/decabits/" class="social"><i class="fa fa-facebook-official mr-3" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/decabits/about/" class="social"><i class="fa fa-linkedin mr-3" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 details">
                <h6 class="mt-lg-0 mt-sm-2">Contact</h4>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+91) 9999925147</p>
                <p class="mb-0"><i class="fa fa-envelope mr-3" aria-hidden="true"></i>
                    info@decabits.com</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col copyright">
                <p class=""><small class="text-white">© 2019. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>