  <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; {{ site.title }}</span>
                </div>
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks" style="display:none">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> -->

<div class="footer-bottom-area bg-dark-light section-padding-sm">
                <div class="container">
                    <div class="row widgets footer-widgets" style="padding:1%;">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="single-widget widget-contact">
                                <h5 class="widget-title">Contact Us</h5>
                                <ul class="contact-info">
                                    <li class="phone">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                        <p><a href="tel:+919354024450">(+91) 9354024450</a></p>
                                    </li>
                                    <li class="email">
                                        <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                        <p><a href="mailto:info@decabits.com">info@decabits.com</a></p>
                                    </li>
                                    <!-- <li class="location">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                        <p><a href="https://goo.gl/maps/TArRyJVWEXZu8Qs46">Office No. 514 - 515, 6th Floor, West End Mall, Janakpuri West, New Delhi, Delhi 110058</a></p>
                                    </li> -->
                                </ul>
                            </div>
                         </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
                        </div>
                    </div>
                    <div class="row widgets footer-widgets" style="padding:1%;" >
                        <div class="col-md-12 col-xs-12 text-center">
                            <span class="copyright text-center">Copyright &copy; Decabits Software</span>
                        </div>
                    </div>
                </div>
            </div>

            <a  class="decabits_custom_software" href="https://www.designrush.com/agency/software-development/trends/iot-security-issues" target="_blank">
                <img src="img/top_custom_software_development_company.svg"/>
            </a>