<div class="container stack hide" id="fullstack">
    <h1 class="text-center">Position Summary</h1>
    <h3>Who we are:</h3>
    <p>Decabits Software is a services-based company and a start incubator, handling projects of top-notch companies
        based out of US, UK and Australia. We are currently looking for a fresher with good skills at full stack
        development.</p>
    <div class="row">
        <div class="col-md-6">
            <h3>Skills Required</h3>
            <ul>
                <li>Backend: NodeJs, Ruby, Lambda etc.</li>
                <li>Must have good understanding of JavaScript Es-6,7, basic knowledge of version control-GIT, basic
                    function programming etc</li>
                <li>Functional Knowledge of one of the CSS Frameworks i.e - Bootstrap, Bulma etc.</li>
                <li>Function Knowledge of one of the JS Frameworks/Library i.e - React, Vue, Angular etc.</li>
                <li>Knowledge of Relational Databases i.e Mysql, Postgres, MongoDb, DynamoDb, Firebase real-time Db etc.
                </li>
                <li>Good to have experience with AWS stack(Lambda, EC2, S3, API gatewat and etc), Firebase, Google cloud
                    platform or any server platform.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Perks</h3>
            <ul>
                <li>Highly Competent Salary</li>
                <li>Flexible Work hours</li>
                <li>A chance to be part of the core team.</li>
                <li>Direct exposure to client projects</li>
            </ul>
            <h4>When you apply do add(if any)</h4>
            <ol>
                <li>Your Github handler</li>
                <li>Your Linkedin profile</li>
                <li>Code Sample/Portfolio of your work</li>
            </ol>
        </div>
    </div>
    <h3>Additional Skills:</h3>
    <ul>
        <li>Backend: NodeJs, Ruby, Lambda etc.</li>
        <li>Must have good understanding of JavaScript Es-6,7, basic knowledge of version control-GIT, basic function
            programming etc.</li>
        <li>Functional Knowledge of one of the CSS Frameworks i.e - Bootstrap, Bulma etc.</li>
        <li>Function Knowledge of one of the JS Frameworks/Library i.e - React, Vue, Angular etc.</li>
        <li>Knowledge of Relational Databases i.e Mysql, Postgres, MongoDb, DynamoDb, Firebase real-time Db etc.</li>
        <li>Good to have experience with AWS stack(Lambda, EC2, S3, API gatewat and etc), Firebase, Google cloud
            platform or any server platform.</li>
    </ul>
    <div class="text-center .btn-career-mail">
        <button class="btn btn-warning mail-button">Mail your CV here: career@zyloto.com</button>
    </div>
    </button>
</div>