<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>


<!-- Navigation -->
<!-- <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logos/Decabits_logofinal-01.png"
                        class="img-responsive img-centered img-logo" alt="company-logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#testimonial">Testimonial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#expertise">Our Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#career-card">Career</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div> -->


<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="https://decabits.com/">
    <img src="https://decabits.com/img/logos/Decabits_logofinal-01.png" alt="Decabits logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Expertise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testimonial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!--  Header  -->
<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 main-content">
        <h1>Welcome</h1>
        <p>Decabits is a fast growing and new age software and web development agency with a multi-dynamic
          character.Our work force is backed by technical expertise and creative articulation giving businesses a
          platform to compete globally and earn rich rewards.</p>

        <a data-fancybox href="https://www.youtube.com/embed/wUvjxucMft8?autoplay=1&mute=1&enablejsapi=1"><button
            class="btn btn-primary main-button video" id="btn-video">Play</button></a>
        <button class="btn btn-outline-primary main-button">Portfolio</button>
      </div>
      <div class="col-md-6"><img src="https://i.ibb.co/kgKsytN/Artboard-1-2x.png" class="feature-image"></div>
    </div>
  </div>
</section>

<!--  Services  -->
<!-- Our Expertise -->
<!-- Team -->
<!-- Career -->
<!-- Footer -->