<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <a class="navbar-brand" href="https://decabits.com/">
    <img src="https://decabits.com/img/logos/Decabits_logofinal-01.png" alt="Decabits logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-ellipsis-v"></i>  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#expertise">Our Expertise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonial">Testimonial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#career">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--  Header  -->
<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 main-content">
        <h1>Welcome</h1>
        <p>Decabits is a fast growing and new age software and web development agency with a multi-dynamic
          character.Our work force is backed by technical expertise and creative articulation giving businesses a
          platform to compete globally and earn rich rewards.
        </p>
        <div class="btn-landing-page">
            <a data-fancybox href="https://www.youtube.com/embed/wUvjxucMft8?autoplay=1&mute=1&enablejsapi=1">
                <button class="btn btn-primary main-button" id="btn-video">Play</button>
            </a>
            <a href="#portfolio"><button class="btn btn-outline-primary main-button btn-landing-portfolio">Portfolio</button></a>
        </div>
      </div>
      <div class="col-md-6"><img src="https://i.ibb.co/kgKsytN/Artboard-1-2x.png" class="feature-image img-responsive"></div>
    </div>
  </div>
</section>