<section  id="landing-animated-section" style="background-color: white;">
    <div class="landing-animation" id="landing-animation">
        <div class="container-fluid animated-section">
            <div class="row-fluid">
                <div class="col-md-2 col-sm-12 colxs-12"></div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="background-color: white; z-index: 1;">
                    <img class="img-responsive animated-logo" src="img/logos/Decabits_logofinal-01.png" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 animated-text">
                    <h2 class="text-center">Decabits Software</h2>
                </div>
                <div class="col-md-2 col-xs-12"></div>
            </div>
        </div>
    </div>
</section>