<html>

 {% include head.html %}

<body>
	
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->               
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logos/Decabits_logofinal-01.png" class="img-responsive img-centered img-logo" alt="company-logo"></a>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Portfolio</a>
                    </li>
                    <li>
                        <!-- <a class="page-scroll" href="#about">About</a> -->
                    </li>
                    <li>
                         <a class="" href="/index.html">Team</a> 
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Testimonial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Our Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">career</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
   
    <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Entnetwrk</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/entnetwrk.png" class="img-responsive img-centered" alt="Entnetwrk">
                            <p> Entnetwrk is the first of its kind entertainment social platform to bring people of entertainment industry and all those seeking to be a part of it under one roof.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>Entnetwrk
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>April 2018
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web & Mobile API Development
                                    </strong>
                                </li>
                                <li>Live Link:
                                    <strong> <a href="https://entnetwrk.com/" target="_blank">https://entnetwrk.com/</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

         <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Beyond Gifted</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/beyondgifted.png" class="img-responsive img-centered" alt="beyondgifted">
                            <p>A customizable gift e-store developed using opencart. It has many php extensions like group gifting written by our team.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>CC Bunghalo
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong> March 2015
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                                <li>Live Link:
                                    <strong>
                                     <a href=" https://www.beyondgifted.com/" target="_blank"> https://www.beyondgifted.com/</a>
                                    </strong>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>