<!-- Portfolio Grid Section -->
    <section id="portfolio" style="background-color: #253858;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: white">Portfolio</h2>
                    <h3 class="section-subheading text-muted" style="color: #fafafa">Few Projects to showcase our love for web</h3>
                </div>
            </div>
            <div class="row">
                <div style="padding: 30px;" class="">
                    <h3 class="text-center" style="color:white"><span style="color:#fed618">Live </span>Projects</h3>
                </div>
            {% for post in site.posts %}
                   {% if post.status == "Live" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#{{ post.title | slugify }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                                <div class="vertical-center" style="width: 60%; padding: 12px; border-radius: 4px; border: 2px solid white;">
                                    <h4>View project</h4>
                                </div>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
                   {% endif %}

                    {% endfor %}
           
            </div>
             
             <div class="row">
            <div style="padding: 30px;">
                    <h3 class="text-center" style="color:white"><span style="color:#fed618">Past </span>Projects</h3>
            </div>
            {% for post in site.posts %}
              {% if post.status == "Past" %}   

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#{{ post.title | slugify }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                                <div class="vertical-center" style="width: 60%; padding: 12px; border-radius: 2px; border: 2px solid white;">
                                    <h4>View project</h4>
                                </div>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
                {% endif %}

            {% endfor %}
            </div>
         </div>
        </div>
    </section>
    
