<section id="portfolio">
<div class="container-fluid portfolio">
    <div class="row">
        <div class="col-md-6">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-1">
                <a href="/portfolio/catchvybz.html">
                    <div class="portfolio-content">
                        <div class="portfolio-logo-image">
                            <img src="img/portfolio/catchvybz-logo.svg" alt="">
                        </div>
                            <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <!-- <h4 class="">Catchvybz</h4> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-2">
                <a href="/portfolio/mgr.html">
                    <div class="portfolio-content">
                        <div>
                            <img src="img/portfolio/mgr-logo.svg" alt="">
                        </div>
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <h4 class="">Fitness Studio <br>
                                    Managment Application</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-3">
                <a href="/portfolio/lcs.html">
                    <div class="portfolio-content">
                        <div>
                            <img src="img/portfolio/lcs-logo.svg" alt="">
                        </div>
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <h4>Meeting <br>
                                Room <br>
                                Booking Platform</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-4">
                <a href="/portfolio/careoff.html">
                    <div class="portfolio-content">
                        <div>
                            <img src="img/portfolio/careoff-logo.svg" alt="">
                        </div>
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-5">
                <a href="/portfolio/wingify.html">
                    <div class="portfolio-content">
                        <!-- <img src="img/portfolio/careoff-logo.svg" alt=""> -->
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <h4>Ruby <br> on Rails SDK</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-4">
            <div class="portfolio-card portfolio-card-6">
                <a href="/portfolio/punchydata.html">
                    <div class="portfolio-content">
                        <img src="img/portfolio/punchydata-logo.svg" alt="">
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <!-- <h4 class="">Wingify</h4> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-6">
            <div class="portfolio-card portfolio-card-7">
                <a href="/portfolio/beyondgigted.html">
                    <div class="portfolio-content">
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <h4>Beyond gifted</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-grid col-md-6">
            <div class="portfolio-card portfolio-card-8">
                <a href="/portfolio/entnetwrk.html">
                    <div class="portfolio-content">
                        <button class="btn-view-portfolio">View deatils</button>
                        <div class="portfolio-title">
                            <h4>First Social <br> Entertainment Networking Platform</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
