<section id="portfolio">
<div class="container-fluid portfolio">
    <div class="row">
        <div class="col-md-6">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 portfolio-card portfolio-card-1">
            <div class="portfolio-content">
                <div class="portfolio-logo-image">
                    <img src="img/portfolio/catchvybz-logo.svg" alt="">
                </div>
                   <a href="/portfolio/catchvybz.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <!-- <h4 class="">Catchvybz</h4> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-2">
            <div class="portfolio-content">
                <div>
                    <img src="img/portfolio/mgr-logo.svg" alt="">
                </div>
                <a href="/portfolio/mgr.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <h4 class="">Fitness Studio <br>
                            Managment Application</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-3">
            <div class="portfolio-content">
               <div>
                    <img src="img/portfolio/lcs-logo.svg" alt="">
               </div>
                <a href="/portfolio/lcs.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <h4>Meeting <br>
                        Room <br>
                        Booking Platform</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-4">
            <div class="portfolio-content">
                <div>
                    <img src="img/portfolio/careoff-logo.svg" alt="">
                </div>
                <a href="/portfolio/careoff.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-5">
            <div class="portfolio-content">
                <!-- <img src="img/portfolio/wingify" alt=""> -->
                <a href="/portfolio/wingify.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <h4>Ruby <br> on Rails SDK</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-6">
            <div class="portfolio-content">
                <img src="img/portfolio/punchydata-logo.svg" alt="">
                <a href="/portfolio/punchydata.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <!-- <h4 class="">Wingify</h4> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-card portfolio-card-7">
            <div class="portfolio-content">
                <a href="/portfolio/beyondgifted.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <h4>Beyond gifted</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-card portfolio-card-8">
            <div class="portfolio-content">
                <a href="/portfolio/entnetwork.html"><button class="btn-view-portfolio">View details</button></a>
                <div class="portfolio-title">
                    <h4>First Social <br> Entertainment Networking Platform</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
