<div class="container-fluid portfolio">
    <div class="row">
        <div class="col-md-6">
            <h1>Services</h1>
            <p>We are a startup incubator and we strictly follow Agile and test driven development.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 portfolio-card portfolio-card-1">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-2">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-3">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-4">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-5">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-card portfolio-card-6">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-card portfolio-card-7">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-card portfolio-card-8">
            <div class="portfolio-content">
                <button class="btn-view-portfolio">View deatils</button>
                <div class="portfolio-title">
                    <h2 class="">Wingify</h2>
                    <p class="">ROR SDK</p>
                </div>
            </div>
        </div>
    </div>
</div>