<html>

 {% include head.html %}

<body>
	
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->               
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logos/Decabits_logofinal-01.png" class="img-responsive img-centered img-logo" alt="company-logo"></a>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Portfolio</a>
                    </li>
                    <li>
                    </li>
                    <li>
                         <a class="" href="/index.html">Team</a> 
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Testimonial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Our Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">career</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
   
    <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Kick Off Nation</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/kickoffnation.png" class="img-responsive img-centered" alt="kickoffnation">
                            <p> Kickoffnation is an indian start up revolutionizing sports in India. The app has many different applications i.e. customer facing, organzier app etc. Tech stack involves Ruby on Rails, AngularjS & Sass.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>Kick Off Nation
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>May 2016
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                                <li>Live Link:
                                    <strong>
                                         <span>N/A </span>
                                        
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

         <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Perfect My English</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/perfectmyenglish.png" class="img-responsive img-centered" alt=" perfectmyenglish">
                            <p>A simple and intuitive web platform for helping your organization/schools gain the acceptable level of English standard</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>Perfect My English
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>April 2014
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                                <li>Live Link:
                                    <strong>
                                         <span>N/A </span>
                                    </strong>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>