<div class="container stack hide" id="ror">
    <h1 class="text-center">Position Summary</h1>
    <h3>Who we are:</h3>
    <p>Decabits Software is a services-based company and a start incubator, handling projects of top-notch companies
        based out of US, UK and Australia. We are currently looking for a fresher with good skills at full stack
        development.</p>
    <div class="row">
        <div class="col-md-6">
            <h3>Skills Required</h3>
            <ul>
                <li>Experience with Ruby on Rails, along with other common libraries such as RSpec and Resque</li>
                <li>Solid understanding of object-oriented programming</li>
                <li>Good understanding of server-side templating languages</li>
                <li>Good understanding of server-side CSS preprocessors</li>
                <li>Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3</li>
                <li>Familiarity with concepts of MVC, Mocking, ORM, and RESTful</li>
                <li>Able to implement automated testing platforms and unit tests</li>
                <li>Proficient understanding of code versioning tools</li>
                <li>Familiarity with development aiding tools</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Perks</h3>
            <ul>
                <li>Highly Competent Salary</li>
                <li>Flexible Work hours</li>
                <li>A chance to be part of the core team.</li>
                <li>Direct exposure to client projects</li>
            </ul>
            <h4>When you apply do add(if any)</h4>
            <ol>
                <li>Your Github handler</li>
                <li>Your Linkedin profile</li>
                <li>Code Sample/Portfolio of your work</li>
            </ol>
        </div>
    </div>
    <h3>Bonus Skills Set:</h3>
    <ul>
        <li>Experience in ES6 syntax for Javascript</li>
        <li>Experience with unit test cases/API test cases i.e Mocha, Jasmine etc</li>
    </ul>
    <div class="text-center .btn-career-mail">
        <button class="btn btn-warning mail-button">Mail your CV here: career@zyloto.com</button>
    </div>
    </button>
</div>
