<section id="services">
  <div class="container-fluid service">
    <div class="row">
      <div class="col-md-6">
        <h1>Services</h1>
        <p>We are a startup incubator and we strictly follow Agile and test driven development.</p>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.ibb.co/fvxC7R1/Artboard-2x.png" class="column-image img-responsive">
        <h3 class="service-content">Web Development</h3>
        <p class="service-content">We develop Scalable Web Applications that can handle traffic of million users, Cloud
          based Web Apps on AWS/Google Services. We also provide Hosting on Cloud Based Solutions.</p>
      </div>
      <div class="col-md-4">
        <img src="https://i.ibb.co/zmQDVYH/Artboard-2x.png" class="column-image img-responsive">
        <h3 class="service-content">Web Designing</h3>
        <p class="service-content">Our Goal is to provide Simple and Smart Websites which are Easy To Navigate and
          Responsive in Nature. We use Atomic Design Methodology to publish the best possible Results.</p>
      </div>
      <div class="col-md-4">
        <img src="https://i.ibb.co/q5qY4Qm/Artboard-2x.png" class="column-image img-responsive">
        <h3 class="service-content">Mobile Developement</h3>
        <p class="service-content">We provide Application development across Android and iOS with agile UI/UX solutions.
        </p>
      </div>
    </div>
  </div>
</section>
