<section id="team">
    <div class="container-fluid">
        <div class="row" style="margin-bottom:1%;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="text-align: left;">Our Amazing Team</h2>
                <p class="section-subheading text-muted" style="text-align: left;">Say hello to you our lovely techy savy people</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/1.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Sahil Batla</h4>
                            <p class="role">Team Head & Lead Developer</p>
                        </div>
                    </div>
                    <p class="about">If there was a profession called Developer in soccer, he would have been the brand
                        ambassador but till the game officially launches, he is a master at his work as a tech lead. With a
                        vast range of skills and experience of 6+ years at the technical end, he geared up to take Decabits
                        under his wings a year back.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/2.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Udit Mittal</h4>
                            <p class="role">Principal Consultant</p>
                        </div>
                    </div>
                    <p class="about">Our primary consultant is also our major strength with client dealing and
                        co-ordination. With his rippling years of experience as an engineer, he is not only attained great
                        skill set but also a knack at handling multiple tasks, all at once!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/3.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Harnoor Kaur Gulati</h4>
                            <p class="role">HR Manager</p>
                        </div>
                    </div>
                    <p class="about">Godmother of the team, she is extremely caring towards her team children. Dare anyone
                        challenge her skills and she will outshine them with her utterly amazing hold at Bhangra. Our HR
                        Manager, besides being an inspiration at work, is also good at planning amazing team outings. Go to
                        person for feeling like at home.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/5.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Tanveer Singh</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">You can see him a little off road if he has not had his morning tea. Popular for
                        grilling people with his stand up comedies after consuming kheer( or not). A developer and funny,
                        Tanveer is a rare combination of both moods.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/6.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Shubham Gupta</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Some people work to live but he lives to work. A night toddler and an early
                        bird(Pseudo-smart way of telling that he never sleeps). A coder who loves to play in new
                        technologies, best for small talks, caffeine shots and dark humour! He is our major force at Backend
                        development.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/8.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Vishal Raghav</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Have you seen pigs fly? Well, if the client would ask him to, he’d make sure the pigs
                        fly. That’s how dedicated he is at his work front. Almost never leaves anyone astonished with the
                        interesting fact about science and fiction he has to offer. A total sports lover and more. He can
                        teach and preach and unlike most, only teaches what he preaches and that is- A GREAT CODE!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/9.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Akshay Kumar</h4>
                            <p class="role">Project Manager</p>
                        </div>
                    </div>
                    <p class="about">If the Google maps ETA had a living form, it would have been called Akshay. He is our
                        up-to-date, deadline chasing and challenging project manager as well as pass time QA.
                        Post his roasting to the team, he also bakes us great dosas out of his love for food,and of course,
                        us.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/10.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Vishal Bardewa</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Thank god, humans never ate humans else he’d definitely taste one. His love for spicy
                        non vegetarian food exceeds his love for even his singing. (We just exaggerated). But ask him about
                        best mutton, chicken, pork or fish in town or for barbecue scenes, he’d be up. As a teacher in the
                        past, Vishal has a “vishal” experience with the technology too. His dedication and warm nature
                        pleases all.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/12.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Manisha Joshi</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Put your heart in work and heart..well, I don't know the rest of it. But she definitely
                        puts all her heart in work. Extremely punctual and kind, Manisha is so kind that if a gun-man would
                        come and say hi to her, she’d readily be nice to him too. She is a hard working developer and super
                        chill.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/13.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Mohd Ayaz</h4>
                            <p class="role">UI Developer</p>
                        </div>
                    </div>
                    <p class="about">If you ask him his favourite hobby, he’d probably have no answer. Not because he does
                        not have any but because he loves too many things at once. A pastime sketcher, an occasionally
                        guitarist, a sometimes singer and a full-time UI designer with us. Ayaz is an almost- all rounder!
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/14.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Amisha Singla</h4>
                            <p class="role">QA Engineer</p>
                        </div>
                    </div>
                    <p class="about">She is laugh-maniac. You could sit beside her for 20 minutes and she’d laugh for 15
                        minutes, only to make you feel that you have a great sense of humor. But no, she is purely a 30 inch
                        slimmer existence of a laughing Buddha.
                        She can test people with their skills at laughing and her apps, both with proficiency. A quality
                        assurance engineer and go-to- friend.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/15.jpeg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Abhay Singh</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">You’d mostly see him quiet unless… unless nothing. He is a non-talkative, humble
                        gentleman but would do his work at lightning speed. You’d almost never realise when he’d jump from
                        task to task. New to the team but making his place at an ace. That’s Abhay for us.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/16.jpeg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Harshita</h4>
                            <p class="role">QA Engineer</p>
                        </div>
                    </div>
                    <p class="about">Newly onboard, pretentious shy and lovely to talk to, Harshita is our quality assurance
                        engineer..
                        With a focused and a progessive mind, she is all set to make a mark for herself at Decabits!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="large text-muted">We are always eager to hear from our you, be it
                    related any project you want to do or web technologies we work in. Remember we are just a skype call
                    or a cup of coffee away
                </p>
            </div>
        </div>
    </div>
</section>
