<!-- Team Section -->
<!-- <section id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Say hello to you our lovely techy savy people</h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
                <div class="col-md-4 col-sm-6  col-xs-12 team-wrapper-even-margin">
                    <div class="row">
                        <div class="team-card-wrapper">
                            <div class="team-member">
                                <div class="centered-items">
                                    <img class="logo" src="img/team/{{ member.pic }}.jpg" alt="logo" />
                                    <div class="user-details">
                                        <h4 class="username">{{ member.name }}</h4>
                                        <p class="role">{{ member.position }}</p>
                                    </div>
                                </div>
                                <p class="about">I've worked with literally hundreds of HTML/CSS developers and I have to say
                                    the top spot goes to this guy. This guy is an amazing developer. He stresses on good, clean
                                    code and pays heed to the details. I love developers who respect each and every aspect of a
                                    throughly thought out design and do their best to put it in code. He goes over and beyond
                                    and transforms ART into PIXELS - without a glitch, every time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" style="padding-top: 5%;">We are always eager to hear from our you, be it
                    related any project you want to do or web technologies we work in. Remember we are just a skype call
                    or a cup of coffee away
                </p>
            </div>
        </div>
    </div>
</section> -->

<section id="team">
  <!-- Starting of Raw code -->
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 1%">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">
          Say hello to our techy savvy team!
        </h3>
      </div>
    </div>
    <!--  Row starts here  -->
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/sahil.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Sahil Batla</h4>
              <p class="role">Team Head & Lead Developer</p>
            </div>
          </div>
          <p class="about">
            If there was a profession called Developer in soccer, he would have
            been the brand ambassador but till the game officially launches, he
            is a master at his work as a tech lead. With a vast range of skills
            and experience of 6+ years at the technical end, he geared up to
            take Decabits under his wings a year back.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/supriya.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Supriya Bugalia</h4>
              <p class="role">Associate Project Manager</p>
            </div>
          </div>
          <p class="about">
            She ensures that the software passes all checks before its release
            to the public. She oversees every phase of design, development,
            testing and delivery to verify if the product meets the quality
            standards and requirements, and works with a team as a whole being
            the manager of multiple projects and making it possible to take them
            to another level by every passing day.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/aastik.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Aastik Sharma</h4>
              <p class="role">ROR Developer</p>
            </div>
          </div>
          <p class="about">
            He is a very serious person when it comes to work, he never says
            never to any work. Aastik is a very hardworking person; he is the
            go-to person of decabits on which we can anytime rely. he is one of
            the strongest pillars amongst our family, also has been awarded with
            the the employee of the month for his outstanding performance
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/vivek.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Vivek Gautam</h4>
              <p class="role">ROR Developer</p>
            </div>
          </div>
          <p class="about">
            Vivek is our silent Rocket, he joined a few months back but is a
            very responsible and hardworking person of our organisation, he
            works silently with all his potential. We really appreciate the way
            he works.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/mansi-ojha.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Mansi Ojha</h4>
              <p class="role">Software Developer</p>
            </div>
          </div>
          <p class="about">
            Quick paced and a potential juggler, she stands firm as a completely
            laser focussed Software developer who never fails to amaze everyone
            with her skills. Ms. Ojha, even though very new to the team, took no
            time in adjusting to the work culture and acing the pace at chasing
            deadlines.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/rahul.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Rahul Ranjan</h4>
              <p class="role">Senior Software Developer</p>
            </div>
          </div>
          <p class="about">
            Rahul is very passionate about his work and his personality is a
            multiple dimension of fun and quirkiness, since he joined us he has
            shown exceptional work skills.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/akshay.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Akshay Parekh</h4>
              <p class="role">ROR Developer</p>
            </div>
          </div>
          <p class="about">
            Akshay Brings about a very positive attitude amongst our
            organisation and his way of working is different from others but
            remarkable on the other hand !
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/ankit_umare_1.jpg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Ankit Umare</h4>
              <p class="role">Quality Assurance Engineer</p>
            </div>
          </div>
          <p class="about">
            Ankit is a very disciplined employee. We are really happy to have
            him, he joined us in the month of November 2022 and has nailed his
            performance by achieving the employee of the month for the month of
            December itself right after one month of joining, he makes sure to
            match his deadlines before hand and work with utmost dedication.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/suparth_ror_1.jpeg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Suparth Jain</h4>
              <p class="role">ROR developer</p>
            </div>
          </div>
          <p class="about">
            His attentiveness is truly remarkable – whether it's responding
            promptly or paying attention to the finest details. Silent yet
            incredibly impactful, his work speaks volumes of his expertise as a
            developer, creating a profound impact through your code.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img class="logo" src="img/team/vidhi-thakur.jpeg" alt="logo" />
            <div class="user-details">
              <h4 class="username">Vidhi Thakur</h4>
              <p class="role">React JS developer</p>
            </div>
          </div>
          <p class="about">
            A fun person to work with, she is someone who sets the perfect
            example of an employee being true to its inner self on the other
            hand she works hard to meet the organisational goals.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img
              class="logo"
              src="img/team/manvi-matta.jpeg"
              alt="Manvi Matta"
            />
            <div class="user-details">
              <h4 class="username">Manvi Matta</h4>
              <p class="role">HR</p>
            </div>
          </div>
          <p class="about">
            In a short span, her HR excellence shines brightly through seamless
            communication and impeccable coordination, fostering a harmonious
            work environment.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="content">
          <div class="centered-items">
            <img
              class="logo"
              src="img/team/kanika-matta.jpeg"
              alt="Kanika Matta"
            />
            <div class="user-details">
              <h4 class="username">Kanika Matta</h4>
              <p class="role">ROR developer</p>
            </div>
          </div>
          <p class="about">
            Kanika is our new budding developer and we are yet to discover her
            skills in the upcoming months.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/8.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Vishal Raghav</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Have you seen pigs fly? Well, if the client would ask him to, he’d make sure the
                        pigs fly. That’s how dedicated he is at his work front. Almost never leaves anyone astonished
                        with the interesting fact about science and fiction he has
                        to offer. A total sports lover and more. He can teach and preach and unlike most, only teaches
                        what he preaches and that is- A GREAT CODE!</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/ayush.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Ayush Gupta</h4>
                            <p class="role">Full Stack Developer</p>
                        </div>
                    </div>
                    <p class="about">Ayush, in his second innings at Decabits has startled us with his long focussed hours, ability to churn results & to hold his ground at work with extra ordinary grip & pace. His never-say-never attitude is a charm to his personality and on good days, you see the witty side to Ayush that adds on to his already top-notch strengths. As a full stack developer,Ayush has always caught us by surprise with timely deliveries, and amazing work ethics.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/kiran.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Kiranjeet Kaur</h4>
                            <p class="role">Quality Assurance Engineer</p>
                        </div>
                    </div>
                    <p class="about">With her pleasant smile & sweet voice, Kiran sets an example of  a hard worker. Her persistence at work & her passion to learn new things brings a new energy to the team, almost instantly. As a quality assurance engineer, Kiran is our safest bet to good delivery for the client!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/khushboo.jpeg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Khushboo Singh</h4>
                            <p class="role">Backend Developer</p>
                        </div>
                    </div>
                    <p class="about">Quick paced and a juggler, Khushboo stands firm as a completely laser focussed backend engineer who never fails to amaze everyone with her skills at chasing deadlines. Khushboo, even though very new to the team, took no time in adjusting to the work culture and acing.</p>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/ashish.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Ashish Vairyani</h4>
                            <p class="role">Full Stack Developer</p>
                        </div>
                    </div>
                    <p class="about">More information loading soon.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/vaishnavi.JPG" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Vaishnavi Thalla</h4>
                            <p class="role">UI/UX Designer</p>
                        </div>
                    </div>
                    <p class="about">More information loading soon.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/parmeet.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Parmeet Kaur</h4>
                            <p class="role">Quality Assurance Engineer</p>
                        </div>
                    </div>
                    <p class="about">More information loading soon.</p>
                </div>
            </div> -->
    </div>
    <!--  Row ends here  -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted" style="padding: 4%">
          We are always eager to hear from you! Ping us to collaborate on
          projects.
        </p>
      </div>
    </div>
  </div>
</section>
