<!-- Team Section -->
<!-- <section id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Say hello to you our lovely techy savy people</h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
                <div class="col-md-4 col-sm-6  col-xs-12 team-wrapper-even-margin">
                    <div class="row">
                        <div class="team-card-wrapper">
                            <div class="team-member">
                                <div class="centered-items">
                                    <img class="logo" src="img/team/{{ member.pic }}.jpg" alt="logo" />
                                    <div class="user-details">
                                        <h4 class="username">{{ member.name }}</h4>
                                        <p class="role">{{ member.position }}</p>
                                    </div>
                                </div>
                                <p class="about">I've worked with literally hundreds of HTML/CSS developers and I have to say
                                    the top spot goes to this guy. This guy is an amazing developer. He stresses on good, clean
                                    code and pays heed to the details. I love developers who respect each and every aspect of a
                                    throughly thought out design and do their best to put it in code. He goes over and beyond
                                    and transforms ART into PIXELS - without a glitch, every time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" style="padding-top: 5%;">We are always eager to hear from our you, be it
                    related any project you want to do or web technologies we work in. Remember we are just a skype call
                    or a cup of coffee away
                </p>
            </div>
        </div>
    </div>
</section> -->


<section id="team">
    <!-- Starting of Raw code -->
    <div class="container-fluid">
        <div class="row" style="margin-bottom:1%;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Say hello to our techy savvy team!</h3>
            </div>
        </div>
        <!--  Row starts here  -->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/1.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Sahil Batla</h4>
                            <p class="role">Team Head & Lead Developer</p>
                        </div>
                    </div>
                    <p class="about">If there was a profession called Developer in soccer, he would have been the brand
                        ambassador but till the game officially launches, he is a master at his work as a tech lead.
                        With a vast range of skills and experience of 6+ years
                        at the technical end, he geared up to take Decabits under his wings a year back.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/2.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Udit Mittal</h4>
                            <p class="role">Principal Consultant</p>
                        </div>
                    </div>
                    <p class="about">Our primary consultant is also our major strength with client dealing and
                        co-ordination. With his rippling years of experience as an engineer, he is not only attained
                        great skill set but also a knack at handling multiple tasks, all
                        at once!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/3.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Harnoor Kaur Gulati</h4>
                            <p class="role">HR Manager</p>
                        </div>
                    </div>
                    <p class="about">Godmother of the team, she is extremely caring towards her team children. Dare
                        anyone challenge her skills and she will outshine them with her utterly amazing hold at Bhangra.
                        Our HR Manager, besides being an inspiration at work, is
                        also good at planning amazing team outings. Go to person for feeling like at home.</p>
                </div>
            </div>
        
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="content">
                                    <div class="centered-items">
                                        <img class="logo" src="img/team/14.jpg" alt="logo" />
                                        <div class="user-details">
                                            <h4 class="username">Amisha Singla</h4>
                                            <p class="role">Project Manager</p>
                                        </div>
                                    </div>
                                    <p class="about">She is a laugh-maniac. You could sit beside her for 20 minutes and
                                        she’d laugh for 15 minutes, only to make you feel that you have a great sense of humor.
                                         But no, she is purely a 30 inch slimmer existence of a laughing Buddha. She can test people's
                                         skills at laughing and her apps, both with proficiency. A quality assurance engineer and go-to
                                         friend, Amisha just escalated in her designation as being our new project manager.</p>
                                </div>
                            </div>


            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/8.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Vishal Raghav</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Have you seen pigs fly? Well, if the client would ask him to, he’d make sure the
                        pigs fly. That’s how dedicated he is at his work front. Almost never leaves anyone astonished
                        with the interesting fact about science and fiction he has
                        to offer. A total sports lover and more. He can teach and preach and unlike most, only teaches
                        what he preaches and that is- A GREAT CODE!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/15.jpeg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Abhay Singh</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">As his name suggests, Abhay is as fearless as it could get. Whether its a big or small
                        task, assignments or heavy deadlines- You see him ever-smiling, with edge-cutting approaches to
                        tormenting problem-solving. Contrary to what we thought of him earlier,  he is in fact talkative,
                        social & has a thing with light-hearted humor.  You will mostly find him juggling between tasks or
                        mentoring the newbies.  His persona is absolutely a pleasure! </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/17.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Priya Dutta</h4>
                            <p class="role">UI Developer</p>
                        </div>
                    </div>
                    <p class="about">Priya, just like her designation of a UI developer comes with a flair of colors.
                        Mostly found on call with the clients, trying to adapt to their needs- her threshold for stress
                        exceeds to may be, infinity?! Apart from her usual coding
                        sprees, she is a pleasure to talk, have healthy conversations with & get clicked with.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/19.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Shubhadeep Karmakar</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Subhadeep, though new to the team, made his mark with his exceptional UI skills & his ever-smiling
                        face very swiftly. As a full-stack developer, he picked up the pace with efficiency & assured timely delivery
                         with his remote working skills. Always light at heart, eager to learn & super friendly- Subhadeep might be
                         the new agony therapist!</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/21.jfif" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Gaurav Dhingra</h4>
                            <p class="role">Software Developer</p>
                        </div>
                    </div>
                    <p class="about">Gaurav compensates for his not so good skills at dumb charades with his exceptional skills at the code. With a great speed, abundance of knowledge & enormus willingness to learn and grasp new things-Gaurav makes a great developer to work with. And not just a developer, if you are new at testing-he'd make sure to go an extra leg for that too. I mean, wow?</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/parmeet.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Parmeet Kaur</h4>
                            <p class="role">Quality Assurance Engineer</p>
                        </div>
                    </div>
                    <p class="about">Equipped with quick humor, presence of mind, fast paced work skills- sprinting woman is what Parmeet unabashedly is the flag bearer of. As a quality assurance engineer, she has not only made the developers rant with the bugs she finds but also paves a route to great management & pressure handling!
                        Made her way from an intern to a full fledged employee, Parmeet is a plethora of talent (including her skills at roasting others).</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/Amrita.jpeg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Amrita Raj</h4>
                            <p class="role">Business & Marketing Manager</p>
                        </div>
                    </div>
                    <p class="about">When you hear 'enthusiasm' in Decabits, there are 50 percent chances we think of Amrita instead. Yes, that's the level of enthusiasm she holds & emits. As a business developer, she has a knack at conducting & presenting projects but also slithers into different domains as and when required. Her vigour to learn is displayed with every task that comes her way whether it's recruitment or writing the code. Oh, and she is a part time author!
                        Isn't it truly -jack of all, master of one?</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/ayush.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Ayush Gupta</h4>
                            <p class="role">Full Stack Developer</p>
                        </div>
                    </div>
                    <p class="about">Ayush, in his second innings at Decabits has startled us with his long focussed hours, ability to churn results & to hold his ground at work with extra ordinary grip & pace. His never-say-never attitude is a charm to his personality and on good days, you see the witty side to Ayush that adds on to his already top-notch strengths. As a full stack developer,Ayush has always caught us by surprise with timely deliveries, and amazing work ethics.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/Anish.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Anish Raheja</h4>
                            <p class="role">Ruby On Rails Developer</p>
                        </div>
                    </div>
                    <p class="about">Soft spoken, clean code & quality work is what makes Anish a rigorous ruby on rails developer. With each passing day, Anish manages to surprise us with his amazing grasping power & diligence.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="centered-items">
                        <img class="logo" src="img/team/kiran.jpg" alt="logo" />
                        <div class="user-details">
                            <h4 class="username">Kiranjeet Kaur</h4>
                            <p class="role">Quality Assurance Engineer</p>
                        </div>
                    </div>
                    <p class="about">With her pleasant smile & sweet voice, Kiran sets an example of  a hard worker. Her persistence at work & her passion to learn new things brings a new energy to the team, almost instantly. As a quality assurance engineer, Kiran is our safest bet to good delivery for the client!</p>
                </div>
            </div>


        </div>
        <!--  Row ends here  -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" style="padding:4%;">We are always eager to hear from you! Ping us to collaborate on projects.
                </p>
            </div>
        </div>
    </div>
</section>
