<!-- <section id="testimonial">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="colmd-6 col-xs-12">
                <h1>Testimonial</h1>
            </div>
            <div class="col-md-6 col-xs-12"></div>
        </div>
    </div>
    <div class="testimonial">
        <div class="container-fluid"></div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="testimonial-card">
                                        <p class="text-center"><span style="font-size: 24px; color: #4A90E2">"</span> I met first with Sahil Batla over a Zoom call to explain our project scope and needs. Each engineer brings a unique approach to development. They're all efficient and fluent in several methodologies etc. Will definitely refer them to other companies seeking developers and will definitely work with them again on future projects. <span style="font-size: 24px; color: #4A90E2;">"</span> </p>
                                    </div>
                                    <img class="testimonial-image img-responsive" src="img/team/1.jpg" alt="">
                                    <div class="testimonial-title-text">
                                        <h4 class="text-center">DEIRDRE NEUFELD</h4>
                                        <p class="text-center">
                                                Founder & CEO <br>
                                                CATCHVYBZ, INC</p>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="testimonial-card">
                                        <p class="text-center"><span style="font-size: 24px;">"</span> We trusted Decabits for our Ruby On Rails Server Side SDK and they did not let us down. The code delivery was quick and with 100% test coverage. I will definitely consider them for future work. <span style="font-size: 24px;">"</span> </p>
                                    </div>
                                    <img class="testimonial-image img-responsive" src="img/team/1.jpg" alt="">
                                    <div class="testimonial-title-text">
                                        <h4 class="text-center">Ankit Jain</h4>
                                        <p class="text-center">Head of Engineering<br>wingify</p>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="testimonial-card">
                                        <p class="text-center"><span style="font-size: 24px;">"</span> We have been working with Decabits for more than a year now. Sahil & team helped our startup get off the ground and stuck with us through thick and thin. These engineers are smart, motivated and go above & beyond to get the task done on time! Their extensive knowledge and expertise on a wide range of technologies has been a great asset to us. We feel very lucky to have them and are looking forward to a successful journey together. <span style="font-size: 24px;">"</span> </p>
                                    </div>
                                    <img class="testimonial-image img-responsive" src="img/team/1.jpg" alt="">
                                    <div class="testimonial-title-text">
                                        <h4 class="text-center">RAJ GIRIMAJI</h4>
                                        <p class="text-center">Chief Technology Officer<br>Careoff</p>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon carousel-slide-controlers" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon carousel-slide-controlers" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section> -->


