<section id="testimonial">
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Testimonials</h2>
        </div>
        <div class="container-fluid padding-zero">
            <div class="row-fluid">
                <div class="col-lg-12 col-md-12 col-xs-12">
                        <div id="wrapper">
                                <div id="slider" style="width: 100%;">
                                    <div class="slide" style="background-image: url(img/portfolio/catchvybz-thumbnail.jpeg);">
                                        <div class="slide-block">
                                            <div class="col-md-12 col-xs-">
                                                <img class="card-img-top img-responsive img-circle testimonial_card_image" src="img/clients/CatchVYBZ_client.jpeg" alt="Card image cap">
                                            </div>
                                            <div class="col-md-12">
                                                <h5 class="text-center">Deirdre Neufeld</h5>
                                                <h6 class="text-center">Founder & CEO</h6>
                                                <h6 class="text-center">CATCHVYBZ, INC</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <i class="fas fa-quote-left"></i>
                                                <p class="text-center">I met first with Sahil Bathla over a Zoom call to explain our project scope and needs. Each engineer brings a unique approach to development. They're all efficient and fluent in several methodologies etc. Will definitely refer them to other companies seeking developers and will definitely work with them again on future projects.</p>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="slide" style="background-image: url(img/portfolio/catchvybz-thumbnail.jpeg);">
                                        <div class=" slide-block">
                                            <div class="col-md-12 col-xs-">
                                                <img class="card-img-top img-responsive img-circle testimonial_card_image" src="img/clients/CatchVYBZ_client.jpeg" alt="Card image cap">
                                            </div>
                                            <div class="col-md-12 background-image: url(img/birds.jpg">
                                                <h5 class="text-center">Deirdre Neufeld</h5>
                                                <h6 class="text-center">Founder & CEO</h6>
                                                <h6 class="text-center">CATCHVYBZ, INC</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <i class="fas fa-quote-left"></i>
                                                <p class="text-center">I met first with Sahil Bathla over a Zoom call to explain our project scope and needs. Each engineer brings a unique approach to development. They're all efficient and fluent in several methodologies etc. Will definitely refer them to other companies seeking developers and will definitely work with them again on future projects.</p>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="slide" style="background-image: url(img/portfolio/catchvybz-thumbnail.jpeg);">
                                        <div class="slide-block">
                                            <div class="col-md-12 col-xs-">
                                                <img class="card-img-top img-responsive img-circle testimonial_card_image" src="img/clients/CatchVYBZ_client.jpeg" alt="Card image cap">
                                            </div>
                                            <div class="col-md-12">
                                                <h5 class="text-center">Deirdre Neufeld</h5>
                                                <h6 class="text-center">Founder & CEO</h6>
                                                <h6 class="text-center">CATCHVYBZ, INC</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <i class="fas fa-quote-left"></i>
                                                <p class="text-center">I met first with Sahil Bathla over a Zoom call to explain our project scope and needs. Each engineer brings a unique approach to development. They're all efficient and fluent in several methodologies etc. Will definitely refer them to other companies seeking developers and will definitely work with them again on future projects.</p>
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div> 
                                    </div>             
                                </div>
                            </div> 
                </div>
                <!-- <div class="card col-md-3 col-sm-6">
                    <a href="#">
                        <img class="card-img-top img-responsive img-centered" src="img/clients/CatchVYBZ_client.jpeg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center">Deirdre Neufeld</h4>
                        <p class="card-text text-center"><span style=" border-bottom: solid #2222 1px;">Founder & CEO CatchVYBZ, INCle</span></p>
                        <p class="card-text text-center">I was referred to work with Decabits by one of my company's strategic advisors.<br> Will definitely refer them to other companies seeking developers and will definitely work with them again on future projects.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
            </div>
        </div>
    </aside>
</section>