/* body {
    overflow-x: hidden;
    overflow: scroll !important;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: linear-gradient(180deg, #fff 40%, rgba(249, 254, 255, .25) 40%);
    color: #{{ site.color.secondary-dark }};
} */
/* .modal-backdrop
{
    position: absolute !important;
    height: 0 !important;
}
.text-muted {
    color: #777;
}

.text-primary {
    color: #337ab7;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #337ab7;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.navbar-default {
    border-color: transparent;
    background-color: #fff;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #337ab7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #{{ site.color.secondary }};
}
.navbar-brand .img-logo
{
    height: 60px;
    position: relative;
    bottom: 18px
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #337ab7;
    background-color: #337ab7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #337ab7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #337ab7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #337ab7;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 0;
        border: 0;
        background-color: #fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #fff;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}


header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #999;
    font-weight: 700;
    line-height: 24px;
} */
/* Services ends here */
/* a
a
a
a
a
a
a
a
a
a */

section {
    /* padding: 96px 0 0 0 ; */
}

@media only screen and (max-width: 600px) {
  section {
    padding: 24px 0 0 0 ;
}
}
content {
    padding: 56px 0 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  body{
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400, 700);
    font-family: 'Montserrat' !important;
  }


h1 {
  color: #111111;
  font-size: 36px;
}
p {
  line-height: 2.1rem;
  color: #6c757d;
  font-size: 17px;
}
 .container-fluid{
  margin-top:6%;
}
.outer-wrapper {
  width: 100%;
}
.wrapper{
  width:90%;
  margin: 0 auto; 
}

.white-text {
  color: white;
}

/* Navbar */

.navbar {
  margin: auto 0px !important;
  padding-left: 6%;
  padding-right: 6%;
}
.navbar-toggler {
padding-right:5%;
}
.navbar-brand {
  padding: 0px !important;
}
.navbar-brand img {
  width: 136px;
  height: 70px;
}
.nav-link {
  color: #111111;
  font-size: 18px;
  padding-left: 32px !important;
}

@media only screen and (max-width: 600px) {
.navbar {
  margin: auto 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  }
}
/* Header */

.feature-image {
  max-width: 100%;
  max-height: 100%;
}
.main-content {
  margin: auto;
}
.main-button {
  width: 45%;
  border-radius: 50px;
  font-size: 20px;
}

.btn-landing-page{
    padding: 12px;
    width: auto;
}

.btn-landing-video{
    width: 84px;
    height: 84px;
    border-radius: 50%;
}
/* Header Mobile Code */

@media only screen and (max-width: 600px) {
  .main-content {
    text-align: center;
  }
  .main-button {
    width: 100%;
    margin: 2%;
  }
}

/* Video Section */

#video {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1111; /* Sit on top */
  left: 0;
  top: 50% !important;
  transform: translateY(-50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(250, 250, 250, 1) !important; /* Fallback color */
  overflow: hidden;
}

/* Service section */
.column-image {
  max-width: 35%;
  max-height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  margin-bottom: 4%;
}
.service-content {
  text-align: center;
  padding-top: 5px;
}
/* Section Mobile code */
@media only screen and (max-width: 600px) {
  .service {
    margin-top: 0px !important;
  }
}

/* Expertise Section */
@media only screen and (max-width: 600px) {
  #expertise{
    margin-top:-20%;
  }
}
.expertise-image {
  max-width: 240px;
  max-height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  margin-bottom: 4%;
}
.expertise-content {
  text-align: center;
  padding-top: 5px;
  font-style: italic;
}

/* Career Section */
.career-image {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  margin-bottom: 4%;
}
.career-image2 {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  margin-bottom: 4%;
}
.career-btn {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .career-image {
    margin-top: 10%;
  }
}

/*Footer*/
.social{
  font-size:24px;
  color: white;
  margin:auto;
}
.footer {
  background: #253858;
  color: white;
  padding-top: 2%;
}
.footer .links ul {
  list-style-type: none;
}
.footer p {
  color: #dee2e6;
}
.footer .links ul li a {
  color: #dee2e6;
}
.footer .contact i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


@media only screen and (max-width: 600px) {
  .footer .container-fluid {
    margin-top: 0px !important;
  }
  .details{
  margin-top: 6%;
  }
}

/* Contact Us */
.outer-wrapper {
  margin-top: 2%;
  background-color: #4a90e2;
  color: white;
  padding-top: 0.1%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
form {
  max-width: 420px;
  margin: 0px auto;
}
.feedback-input {
  font-family: 'Montserrat',Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}
.contact-image {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}
.contact-bg {
  background: #6bc1ff;
}

.feedback-input:focus {
  border: 2px solid #4a90e2;
}

#contact-text{
  margin-left:10%;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 64px;
    height: 64px;
    background: #314360;
    border-color: #314360;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    color:white;
    font-size: 24px;
    transition: all 0.3s;
    margin-top: -200px;
    margin-left: 380px;
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
  [type="submit"] {
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 0px;
  }
  #contact-text{
    margin-left: 0px;
  }
}

/* Team member css starts here */
#team {
  background-image: url("img/backgrounds/team_background.svg");
  object-fit: fill;
  background-size: 100% 100%;
}
.content {
  margin: 5%;
  height: auto;
  position: relative;
}
.content h4 {
  color: #2684ff;
}
.content p {
  color: #555;
}

@media only screen and (max-width: 600px) {
  .content {
    height: auto;
    margin: 0px !important;
  }
  .content p {
    text-align: left;
  }
}
.about {
  text-align: justify;
  padding-top: 2%;
  color: #6c757d;
}
.centered-items {
  display: flex;
  align-items: center;
}
.logo {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.user-details {
  margin-left: 10px;
}
.role {
  font-weight: normal;
  margin: 2px 0;
}

@media only screen and (max-width: 600px){
  .testimonial_card_right p{
      font-size: 98px ;
  }
  .testimonial_card_image {
      width: 50%;
  }
}
.testimonial_card_image{
  width: 20%;
}
.testimonial_card{
  height: 325px;
  margin-top: 100px;
  border-radius: 8px;
}
.testimonial_card_left{
  position: relative;
  float: left;
  width: 30%;
  height: 325px;
  border-radius: 8px 0 0 8px;
}
.testimonial_card_right{
  position: relative;
  float: left;
  width: 70%;
  height: 400px;
  border-radius: 0 8px 8px 0;
}

div.testimonialcontent{
  background-color:#619fe4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height:500px;
  width:100%;
  padding:2%;
}
@media only screen and (max-width: 600px) {
  div.testimonialcontent{
      height:500px;
  }
}

figure.testimonial-div {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 600px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

figure.testimonial-div img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.testimonial-div blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.testimonial-div blockquote:before,
figure.testimonial-div blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.testimonial-div blockquote:before {
  top: 35px;
  left: 20px;
}
figure.testimonial-div blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.testimonial-div .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.testimonial-div .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.testimonial-div .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
.carousel-handel-testimonial{
  width: 56px;
  height: 56px;
  background-color:rgba(250, 250, 250, 0);
  font-size: 52px !important;
  top: 25vh;
  border-radius: 50%;

}
.carousel-control{
  background: none !important;
  opacity: 1 !important;
}

/* Testimonial css ends here */

/* Porfolio css starts here */

.portfolio-card-1{
    height: 500px;
    background:#D01786;
    background-image: url(img/portfolio/catchvybz-thumbnail.png);
    object-fit: cover;
    background-size: 50% auto;
}
.portfolio-card-2{
    height: 400px;
    background-color: #7C34F1;
    background-image: url(img/portfolio/mgr-thumbnail.png);
    object-fit: cover;
}
.portfolio-card-3{
    height: 600px;
    background-color: #4E896B;
    background-image: url(img/portfolio/lcs-thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;
}
.portfolio-card-4{
    height: 400px;
    background-color: #58A4C7;
    transform: translateY(-100px);
    background-image: url(img/portfolio/careoff-thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;

}
.portfolio-card-5{
    height: 500px;
    background-color: #ECC00E;
    transform: translateY(-200px);
    background-image: url(img/portfolio/wingify-thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;
}
.portfolio-card-6{
    height: 300px;
    background-color: #3160B3;
    position: relative;
    right: 0;
    background-image: url(img/portfolio/punchydata-thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;
 
}
.portfolio-card-7{
    height: 500px;
    background-color: #3B2D94;
    transform: translateY(-200px);
    background-image: url(img/portfolio/beyond_gifted_thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;
}
.portfolio-card-8{
    height: 500px;
    background-color: #9B9B9B;
    transform: translateY(-200px);
    background-image: url(img/portfolio/entnetwrk-thumbnail.png);
    object-fit: cover;
    background-size: 100% auto;

}
.portfolio-card{
    padding: 0;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(9,9,9,0.35);
}


.portfolio-grid{
  padding: 12px;;
}

.portfolio-content{
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  /* background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .4)); */
}

.portfolio-content:hover{
  cursor: pointer;
  margin-top: 12px;
  transition: 1s;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .8));
}

.portfolio-content:hover .btn-view-portfolio{
  transition: 1s;
  opacity: 1
}

.btn-view-portfolio{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, .4);
  border: 2px solid white;
  color: white;
  border-radius: 24px;
  opacity: 0;
  width: 50%;
  height: 48px;
}


.portfolio-title{
  position: absolute;
  bottom: 12px;
}

.portfolio-title h4{
    color: white;
}

.portfolio-title p{
    color: white;
}

@media only screen and (max-width: 600px) {
  .portfolio-card{
      height: 400px;
      transform: translateY(0);
  }
}
/* Portfolio css ends here */
.carousel-control{
    background: none !important;
    opacity: 1 !important;
}
/* Full stack css */
.stack ul {
  list-style-type: square;
}

.stack{
  padding: 36px 0; 
}
.stack h1{
  padding: 0 0 6% 0; 
}

.btn-career-mail{
  margin-top: 6%;
}

.mail-button {
  width: 50%;
  border-radius:50px;
  font-size: 20px;
  color:white;
}

/* Portfolio Modal */
.modal-backdrop
{
    position: absolute !important;
    height: 0 !important;
}
.portfolio-modal .modal-content{
  background: linear-gradient(180deg, #253858 40%, #fff 40%);
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
  color:white;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
  color:white;
}

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  .portfolio-modal .modal-content h2 {
      font-size: 24px !important;
  }
  .portfolio-modal .modal-content{
    background: linear-gradient(180deg, #253858 25%, #fff 25%);
  }
}

@media only screen and (max-width: 600px) {
  
  .portfolio-modal .close-modal{
      width: 24px !important;
      height: 24px !important;
      top: 18px !important;
      right: 42px !important;
  }
  .portfolio-modal .close-modal .lr{
      height: 32px !important;
  }
  .portfolio-modal .close-modal .rl{
      height: 32px !important;
  }
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content ul.list-inline span {

  color:#fed136;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  width:100%;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: .3;
}

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 8px;
  height: 56px;
  border-radius: 4px;
  margin-left: 35px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 8px;
  border-radius: 4px;
  height: 56px;
  background-color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hide{
  display: none !important;
}
