<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    <!-- {% include on_landing_animation.html %} -->
    {% include about.html %}
    {% include video.html%}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include expertise.html %}
    {% include client1.html %}
    {% include team.html %}
    {% include career-card.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include career.html %}
    {% include js.html %}
    </body>
</html>