<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->               
                    <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logos/Decabits_logofinal-01.png" class="img-responsive img-centered img-logo" alt="company-logo"></a>
                
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">Portfolio</a>
                        </li>
                        <li>
                        </li>
                        <li>
                             <a class="" href="/index.html">Team</a> 
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">Testimonial</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">Our Expertise</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">career</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
      {% include catchvybz.html %}
      <hr class="star-primary">
      {% include punchydata.html %}
      <!-- <div class="container" style="padding: 15px 0 35px 0;">
          <div class="raw">
            <div class="col-md-4 cl-sm-12">
              <div class="career-card" style="height: 360px;">
                <div class="card">
                  <img class="img-responsive" src="/img/portfolio/kickoffnation.png" alt="">
                  <h4 class="card-title">Kick off Nation</h4>
                  <p class="card-text">See our projects based on ROR technology</p>
                  <button class="career-btn">Know more
                      <a href="/index.html"></a>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4 cl-sm-12">
                <div class="career-card" style="height: 360px;">
                  <div class="card">
                    <img class="img-responsive" src="/img/portfolio/kickoffnation.png" alt="">
                    <h4 class="card-title">Kick off Nation</h4>
                    <p class="card-text">See our projects based on ROR technology</p>
                    <button class="career-btn">Know more
                        <a href="/index.html"></a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 cl-sm-12">
                  <div class="career-card" style="height: 360px;">
                    <div class="card">
                      <img class="img-responsive" src="/img/portfolio/kickoffnation.png" alt="">
                      <h4 class="card-title">Kick off Nation</h4>
                      <p class="card-text">See our projects based on ROR technology</p>
                      <button class="career-btn">Know more
                          <a href="/index.html"></a>
                      </button>
                    </div>
                  </div>
                </div>
          </div>
        </div> -->
  </body>
</html>